# **01_print_events**

In [1]:
def main():
    for i in range(20):
        print(i * 2, end=' ')

if __name__ == '__main__':
    main()

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38

# **02_international_voting_age**

In [3]:
PETURKSBOUIPO_AGE : int = 16
STANLAU_AGE : int = 25
MAYENGUA_AGE : int = 48

user_age = int(input("What is your age in numbers: "))

if user_age >= PETURKSBOUIPO_AGE:
    print("You can vote in Peturks")
else:
    print("You cannot vote in Peturks because your is less for government data")

if user_age >= STANLAU_AGE:
    print("You can vote in Stanlau")
else:
    print("You cannot vote in Stanlau because your is less for government data")

if user_age >= MAYENGUA_AGE:
    print("You can vote in Mayengua")
else:
    print("You cannot vote in Mayengua because your is less for government data")

What is your age in numbers: 25
You can vote in Peturks
You can vote in Stanlau
You cannot vote in Mayengua because your is less for government data

# **03_leap_year**

In [4]:
def main():
    year = int(input("Please input a year: "))


    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                print("That's a leap year!")
            else:
                print("That's not a leap year.")
        else:
            print("That's a leap year!")
    else:
        print("That's not a leap year.")

if __name__ == '__main__':
    main()

Please input a year: 2028
That's a leap year!

# **04_tall_enough_to_ride**

In [11]:
MAX_HEIGHT = 50


def main():
    height = float(input("How tall are you? "))
    if height >= MAX_HEIGHT:
        print("You're tall enough to ride!")
    else:
        print("You're not tall enough to ride, but maybe next year!")


if __name__ == '__main__':
    main()

How tall are you? 50
You're tall enough to ride!

# **05_random_numbers**

In [12]:
import random

def main():
    for _ in range(10):
        value = random.randint(1, 100)
        print(value, end=' ')
    print()
if __name__ == '__main__':
    main()

74 75 72 79 35 70 9 52 75 53